#checkbox:checked + label .switch-ball {
  background-color: white;
  transform: translateX(20px);
  transition: transform 0.1s linear;
}

#checkbox + label .switch-ball {
  transform: translateX(0);
  transition: transform 0.1s linear;
}
